{% extends "shop/basic.html" %}
{% load static %}

{% block css %}
<style>
  .col-md-4 {
    display: inline-block;
    margin: 0 4px;
  }

  .col-md-4 img {
    width: 255px;
    height: 255px;
  }

  .carousel-indicators .active {
    background-color: blue;
  }

  .carousel-indicators {
    bottom: 0;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: blue;
  }

  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }
</style>
{% endblock %}

{% block body %}
<div class="container">
  <div id="demo" class="carousel slide my-3" data-bs-ride="carousel">
    <h1>Trending Tops</h1>
    <!-- Indicators -->
    <div class="carousel-indicators">
      {% for i in slide_range %}
        <button type="button" data-bs-target="#demo" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></button>
      {% endfor %}
    </div>

    <!-- Carousel Slides -->
    <div class="carousel-inner no-padding">
      {% for slide in product_slides %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <div class="row">
            {% for product in slide %}
              <div class="col-md-4">
                <div class="card" style="width: 18rem">
                  <img src="/media/{{product.image}}" class="card-img-top" alt="{{ product.product_name }}">
                  <div class="card-body">
                    <h6 class="card-title">{{ product.product_name }}</h6>
                    <p class="card-text">{{ product.desc|truncatechars:50 }}</p>
                    <a href="#" class="btn btn-primary">Add To Cart</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>

  </div>
    <!-- Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

</div>
{% endblock %}
